<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ISA.Palur.Finance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ISA.Showroom.Finance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ISA.Showroom.Finance.Properties.Settings.ISOtomotifDbConnectionString"
            connectionString="Data Source=131.68.7.235;Initial Catalog=ISOtomotifDb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ISA.Palur.Finance.Properties.Settings.ISOtomotifDbConnectionString"
            connectionString="Data Source=srv11;Initial Catalog=ISOtomotifDb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ISA.Showroom.Finance.Properties.Settings.ISAFinanceOtoDbTLAConnectionString"
            connectionString="Data Source=.;Initial Catalog=ISAFinanceOtoDbTLA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
      <ISA.Palur.Finance.Properties.Settings>
        <setting name="AppFont" serializeAs="String">
          <value>Courier New, 8.25pt</value>
        </setting>
        <setting name="KodeTransPiutangKaryawan" serializeAs="String">
          <value>b075dff7-bd42-43ed-9f86-31d404555cb9</value>
        </setting>
        <setting name="DBFinance" serializeAs="String">
          <value>ISOtomotifDb</value>
        </setting>
        <setting name="DbName" serializeAs="String">
          <value>ISOtomotifDb</value>
        </setting>
        <setting name="DBFUpload" serializeAs="String">
          <value>C:\Temp\Upload</value>
        </setting>
        <setting name="DBFDownload" serializeAs="String">
          <value>C:\Temp\Download</value>
        </setting>
        <setting name="OutputFile" serializeAs="String">
          <value>C:\Temp</value>
        </setting>
        <setting name="Setting" serializeAs="String">
          <value>C:\Temp</value>
        </setting>
        <setting name="DbHoldingName" serializeAs="String">
          <value>ISAHolding</value>
        </setting>
        <setting name="EmailSenderISA" serializeAs="String">
          <value>isa.admin@sas-autoparts.com</value>
        </setting>
        <setting name="PortSendingEmail" serializeAs="String">
          <value>26</value>
        </setting>
        <setting name="EmailHost" serializeAs="String">
          <value>mail.sas-autoparts.com</value>
        </setting>
        <setting name="EmailSenderPwd" serializeAs="String">
          <value>sas11palur</value>
        </setting>
        <setting name="EmailKasir" serializeAs="String">
          <value>dwiwantara@gmail.com</value>
        </setting>
        <setting name="NewDNKN" serializeAs="String">
          <value>True</value>
        </setting>
      </ISA.Palur.Finance.Properties.Settings>
      <ISA.Showroom.Finance.Properties.Settings>
        <setting name="AppFont" serializeAs="String">
          <value>Courier New, 8.25pt</value>
        </setting>
        <setting name="KodeTransPiutangKaryawan" serializeAs="String">
          <value>b075dff7-bd42-43ed-9f86-31d404555cb9</value>
        </setting>
        <setting name="DBFinanceOto" serializeAs="String">
          <value>ISAFinanceOtoDb</value>
        </setting>
        <setting name="DBShowroom" serializeAs="String">
          <value>ISAShowroomDb</value>
        </setting>
        <setting name="DBFUpload" serializeAs="String">
          <value>C:\Temp\Upload</value>
        </setting>
        <setting name="DBFDownload" serializeAs="String">
          <value>C:\Temp\Download</value>
        </setting>
        <setting name="OutputFile" serializeAs="String">
          <value>C:\Temp</value>
        </setting>
        <setting name="Setting" serializeAs="String">
          <value>C:\Temp</value>
        </setting>
        <setting name="EmailSenderISA" serializeAs="String">
          <value>isa.admin@sas-autoparts.com</value>
        </setting>
        <setting name="PortSendingEmail" serializeAs="String">
          <value>26</value>
        </setting>
        <setting name="EmailHost" serializeAs="String">
          <value>mail.sas-autoparts.com</value>
        </setting>
        <setting name="EmailKasir" serializeAs="String">
          <value>dwiwantara@gmail.com</value>
        </setting>
        <setting name="NewDNKN" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EmailSenderPwd" serializeAs="String">
          <value>sas11palur</value>
        </setting>
        <setting name="PerusahaanRowID" serializeAs="String">
          <value>f0bfec6b-e92c-44a3-9eeb-f41960503f15</value>
        </setting>
        <setting name="Smtp" serializeAs="String">
          <value>smtp.gmail.com</value>
        </setting>
        <setting name="smtpPort" serializeAs="String">
          <value>587</value>
        </setting>
        <setting name="smtpLogin" serializeAs="String">
          <value>tss.palur.sas@gmail.com</value>
        </setting>
        <setting name="smtpPass" serializeAs="String">
          <value>tss.palur</value>
        </setting>
      </ISA.Showroom.Finance.Properties.Settings>
    </userSettings>
</configuration>