<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISA.DAL.DAL.Properties.Settings.ISAWeb" connectionString="Data Source=192.168.0.250,2802;Initial Catalog=ISAPalurTradingDb;Persist Security Info=True;User ID=sa;Password=dotnet1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>